name: CI
on:
  push:
    branches: [master]
jobs:
  lint: # 检测任务
    runs-on: ubuntu-latest # 运行系统环境
    steps: # 步骤
      - uses: actions/checkout@v2 # 相当于把github代码拉倒本地
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 7.2.1
      - name: Install modules
        run: pnpm install
      - name: Run lint
        run: pnpm lint && pnpm format
